<h3>{{ student.firstname }} {{ student.lastname }}</h3>
<h4 ng-cloak ng-repeat="item in classes | filter:student.class_id">Class: {{item.name}} &nbsp&nbsp|&nbsp&nbsp No: {{ student.registrynumber }}</h4>

<hr>
<div ng-show="error" class="alert alert-danger">
    <p>{{error}}</p>
</div>

<div>
	<ul ng-hide="editMode" class="list-inline">
	<li><a href ng-click="switchToEditMode()" class="btn btn-primary">Edit Grade</a></li>
	<li><a href ng-click="deleteGrade(grade)" class="btn btn-primary">Delete Grade</a></li>
	</ul>
	<h3 ng-hide="editMode">Value: {{grade.gradevalue}}</h3>
	<form ng-show="editMode" ng-submit="updateGrade()">
		<div class="control-group">
			<div class="controls options">
				<button class="btn btn-primary" type="submit">Save</button>
				<a class="btn btn-small btn-link" ng-click="switchToNormalMode()" href>Cancel</a>
			</div>
		</div>
		<br>
		<div class="form-group">
			<!--<label for="inputGradeValue">Value: </label>-->
			<h3 style="display: inline;">Value: </h3>
			<select ng-model="gradeOption" id="inputTestType" required>
				<option ng-repeat="option in allowedGrades" value="{{option}}">{{option}}</option>
			</select>
		</div>
	</form>
	<p ng-repeat="item in subjects | filter:test.subject_id">Subject: {{item.name}}</p>
	<p>Date: {{test.testdate | date:'yyyy-MM-dd'}}</p>
	<p>Test: {{test.testtype}} / {{test.name}}</p>
	<p>Teacher: {{teacher.firstname}} {{teacher.lastname}}</p>
</div>