<h3>Lesson {{lesson.lessondate | date:'yyyy-MM-dd'}}</h3>
<h4 ng-cloak >Class: {{lesson.class_id.name}} &nbsp&nbsp|&nbsp&nbsp Subject: {{ lesson.subject_id.name }}</h4>

<hr>

<table class="table table-striped">
	<thead>
		<tr>
			<td>Name</td>
			<td>Registry No</td>
			<td>Attendance</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="person in attendances">
			<td><a ng-href="#/students/{{person.student_id._id}}">{{ person.student_id.firstname }} {{ person.student_id.lastname }}</a></td>
			<td>{{ person.student_id.registrynumber }}</td>
			<td>
				{{ person.status }}&nbsp
				<i ng-if="person.status=='absent'" class="glyphicon glyphicon-remove-sign"></i>
				<i ng-if="person.status=='justified'" class="glyphicon glyphicon-ok-circle"></i>
			</td>
		</tr>
	</tbody>
</table>