<div class="text-right">
<a ng-href="#/tests/new" class="btn btn-primary">Add New Test</a>
</div>

<hr>

<table class="table table-striped">
	<thead>
		<tr>
			<td>Date</td>
			<td>Subject</td>
			<td>Type</td>
			<td>Name</td>
			<td>Class</td>
			<!--<td>Status</td>-->
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="test in tests">
			<td>{{ test.testdate | date:'yyyy-MM-dd' }}</td>
			<td ng-repeat="item in subjects | filter:test.subject_id">{{item.name}}</td>
			<td>{{ test.testtype }}</td>
			<td>{{ test.name }}</td>
			<td ng-repeat="item in classes | filter:test.class_id">{{item.name}}</td>
			<!--<td>{{ testStatus[test.status] }}</td>-->
			<td>
			<a title="Edit" ng-href="#/tests/{{test._id}}/edit"> <span class="glyphicon glyphicon-edit"
					aria-hidden="true"></span> </a>
			&nbsp
			<a ng-if="test.status==1" ng-href="#/tests/{{test._id}}/grades" title="Show grades"><i class="glyphicon glyphicon-star"></i></a>
			<a ng-if="test.status==0" ng-href="#/tests/{{test._id}}/grades/add" title="Give grades"><i class="glyphicon glyphicon-star-empty"></i></a>
			&nbsp
			<a href title="Delete" ng-click="deleteTest(test)"> <span class="glyphicon glyphicon-remove-circle"
				aria-hidden="true"></span> </a>
			</td>
		</tr>
	</tbody>
</table>