<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Game: <%= title %></title>

	<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body onresize="resize()">

	<canvas id="c"></canvas>

	<script src="/javascripts/fabric.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="/javascripts/script.js"></script>
</body>
</html>
